<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Custore <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      </ul>
      </div>

      <div>
        <ul class="navbar-nav">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{# if login}}
          <a class="dropdown-item" href="/user/profile"><i class="fas fa-user-circle"></i> User Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          {{ else }}
          <a class="dropdown-item" href="/user/signup"><i class="fas fa-user-plus"></i> Sign up</a>
          <a class="dropdown-item" href="/user/signin"><i class="fas fa-sign-in-alt"></i> Sign in</a>
        {{/ if}}
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/shopping-cart">
            <i class="fas fa-shopping-cart"></i> Shopping Cart
            <span class="badge">{{session.cart.totalQty}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>