<!--
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages }}
                <p>
                    {{this}}
                </p>
                {{/each}}
            </div>
        {{/if}}
        <form action= "/user/signup" method="post">
            <div class= "form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class= "form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
-->

<div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                         {{#if hasErrors}}
                            <div class="alert alert-danger">
                            {{#each messages }}
                                <p>
                                    {{this}}
                                </p>
                            {{/each}}
                            </div>
                        {{/if}}

                        <form action= "/user/signup" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <!--
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>   --> 
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to all statements in  <a href="#" class="term-service">the Terms of service</a></label>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signup-image.jpg" alt="sign up image"></figure>
                        <a href="/user/signin" class="signup-image-link">I already have an account</a>
                    </div>
                </div>
            </div>
        </section>
</div>

