.thumbnail img {
  max-height: 200px;
  max-width: 200px;
}

.thumbnail .description {
  color: #7f7f7f;
  text-align: justify;
}

.thumbnail {
  height: 550px;
  text-align: center;
}
.price {
  font-weight: bold;
  font-size: 16px;
}

.boxy{
  padding: 2.5% 2.5% 0% 2.5%;
}





