<head>
    <link rel='stylesheet' href='/stylesheets/checkout.css' />
</head>


 <form class="checkout" action="/checkout" method="post" id="checkout-form">
    <div class="checkout-header">
      <h1 class="checkout-title">
        Checkout: ${{total}}
      </h1>
      <div id="charge-error" class="alert alert-danger {{#if noError}} hidden {{/if}}"> 
                {{errMsg}}
        </div>
    </div>
    <p>
      <input type="text" class="checkout-input checkout-name" placeholder="Your name" id="name" required name="name" autofocus>
      <input type="text" class="checkout-input checkout-exp" placeholder="MM" id="card-expiry-month" required>
      <input type="text" class="checkout-input checkout-exp" placeholder="YY" id="card-expiry-year" required>
    </p>
    <p>
        <input type="text" class="checkout-input checkout-address" placeholder="Your address" id="address" required name="address">
    </p>
    <p>
      <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111" id="card-number" required> 
      <input type="text" class="checkout-input checkout-cvc" placeholder="CVC" id="card-cvc" required>
    </p>
    <p>
      <input type="submit" value="Place Order" class="checkout-btn">
    </p>
  </form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>